[Unit]
Description=Watermark Remover pet-prject
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/tg_bots/simple_watermark_remover/swmr_bot.py
WorkingDirectory = /opt/tg_bots/simple_watermark_remover

[Install]
WantedBy=multi-user.target